<h1 class="d-flex justify-content-center">{{ title }}</h1>
<div class="container mt-2">
  <nav class="d-flex w-100 justify-content-center align-content-center col-2 bg-success">
    <div routerLink="Ex1" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Exemple</div>
    <div routerLink="Tri" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Triangle</div>
    <div routerLink="Com" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Comptar</div>
    <div routerLink="Sum" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Suma</div>
  </nav>
  <router-outlet />
</div>
