<h1>{{ title }}</h1>
<div class="container mt-2">
  <nav class="d-flex w-100 justify-content-center align-content-center col-2 bg-success">
    <div routerLink="" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Pàgina principal</div>
    <div routerLink="/Joc" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Joc</div>
    <div routerLink="/Login" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Login</div>
    <div routerLink="/Registre" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Registre</div>
    <div routerLink="/Classificacio" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Classificació</div>
    <div routerLink="/Ajuda" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Ajuda</div>
  </nav>
  <div class="w-100 bg-success flex-grow-1 text-decoration-none text-light ps-5">Usuari actual: {{ usuari[0].nom }}</div>
  <router-outlet />
</div>
