<h1>Símbols:</h1>
<p>L'Eloi (el personatge que mouràs per jugar) és d'aquest color:</p>
<div style="background-color: gold; width: 40px; height: 40px;"></div>
<p>Les activitats que has de recollir i que aniran apareixen són d'aquest color:</p>
<div style="background-color: orangered; width: 40px; height: 40px;"></div>
<p>I les parets que et faran de tope són d'aquest color:</p>
<div style="background-color: hotpink; width: 40px; height: 40px;"></div>
<h1>Moviment:</h1>
<p>
  Et mous amb les fletxes del teclats; amb l'esquerra i la dreta. <br>
  Amb la fletxa esquerra ⬅️ mouràs a l'Eloi cap a l'esquerra. <br>
  Amb la fletxa dreta ➡️ mouràs a l'Eloi cap a la dreta.
</p>
<h1>Puntuació:</h1>
<p>Per guanyar punts 💯 has d'atrapar a les activitats que van caient dins del taulell, tant pot ser directament sobre teu o si estan al costat.</p>
<h1>Game over:</h1>
<p>Perdràs si 10 activitats arriben a tocar el terra abans no les puguis agafar i s'acabarà el joc :(</p>