<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Llista preguntes</title>
</head>
<body>
    <table>
        <tr>
            <th>Id Pregunta</th>
            <th>Descripció</th>
            <th>Id Qüestionari</th>
            <th>Accions</th>
        </tr>
        {% for pregunta in preguntes %}
            <tr>
                <td>{{ pregunta.idPreguntes }}</td>
                <td>{{ pregunta.descripcio }}</td>
                <td>{{ pregunta.questionari }}</td>
                <td>
                    <button onclick="location.href='{% url 'editarPregunta' pregunta.idPreguntes %}'">Editar pregunta</button>
                    <button onclick="location.href='{% url 'esborrarPregunta' pregunta.idPreguntes %}'">Eliminar pregunta</button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <button onclick="location.href='{% url 'crearPregunta' %}'">Crear pregunta</button>
</body>
</html>