table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.background {
    background: darkgreen;
}

.lletraMenu {
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

.primer {
    padding-left: 5px;
}
