<div class="container mt-2">
  <nav class="d-flex w-100 justify-content-center align-content-center col-2 bg-success">
    <div routerLink="/Api1" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Exercici 1 (songs)</div>
    <div routerLink="/Api2" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Exercici 2 (songs)</div>
    <div routerLink="/Api3" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Exercici 3 (songs)</div>
    <div routerLink="/Api4" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Exercici 4 (users)</div>
    <div routerLink="/Api5" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Exercici 5 (users)</div>
    <div routerLink="/Api6" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Exercici 6 (users)</div>
  </nav>
  <router-outlet />
</div>
