<div class="d-grid m-4 justify-content-center align-content-center">
  <p>Punts: {{ punts }}</p>
  <br>
  <p>Treballs perduts: {{ perduts }}</p>
  @if (perduts < 10) {
    @for (item of base; track item) {
      <div class="row">
        @for (item2 of item; track item2) {
          @if (item2 == "wall") {
            <div class="wall"></div>
          }
          @else if (item2 == "eloi") {
            <div class="eloi"></div>
          }
          @else if (item2 == "work") {
            <div class="work"></div>
          }
          @else {
            <div class="dot-unhit"></div>
          }
        }
      </div>
    }
  }
  @else {
    <h1 class="bg-danger text-white">Has perdut :(</h1>
  }
  <br>
  <button class="button" (click)="spawner(false)">Començar!</button>
  <button class="button" (click)="spawner(true)">Reinici</button>
</div>
<!--<app-login (envia)="usuari" [jugadorPuntuacioNova]="usuari"></app-login>-->
