<div class="container">
  <h1>Login Form:</h1>
  <form [formGroup]="loginForm">
    <input type="email" id="nom" name="nom" placeholder="Nom" formControlName="nom" required>
    @if (loginForm.controls['nom'].invalid && (loginForm.controls['nom'].dirty || loginForm.controls['nom'].touched)) {
      <div class="alert alert-danger">
        @if(loginForm.controls['nom'].errors?.['required']) {
          <div>
            El nom és obligatori.
          </div>
        }
      </div>
    }
    <br>
    <input type="password" placeholder="Password" formControlName="password" required>
    @if (loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)) {
      <div class="alert alert-danger">
        @if(loginForm.controls['password'].errors?.['required']) {
          <div>
            La contrasenya és necessària.
          </div>
        }
      </div>
    }
  </form>
  <button (click)="login()" [disabled]="!loginForm.valid">Login</button>
  <p>{{ message }}</p>
</div>
